<div *ngFor="let exDay of routine.exerciseDayList; let dayIndex = index">
  <div class="accordion-item">

<!--    <h2 class="accordion-header" id="headingOne">-->

<!--      &lt;!&ndash;needs to add toggle "Start Workout" &ndash;&gt;-->
<!--      <button aria-controls="collapse{{exDay.exerciseDayId}}" aria-expanded="true" class="accordion-button" [attr.data-bs-target]="'#collapse-exercise' + dayIndex"-->
<!--              data-bs-toggle="collapse" type="button">-->
<!--        {{exDay.exerciseDayName}}</button>-->
<!--    </h2>-->
</div >

<table class="table">
  <thead>
  <tr>
    <th scope="col">Buttons</th>
    <th scope="col">Exercise Name</th>
    <th scope="col">Starting Weight</th>
    <th scope="col">Increase Weight By</th>
    <th scope="col">Minimum Rep</th>
    <th scope="col">Max Rep</th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let exercise of exDay.exerciseList; let i = index">
    <td>
      <button class="btn-btn-primary" (click)="updateRoutine(routine, exDay, exercise)"> Save</button>
      <!-- below button just adds a dummy exercise to exDay.exerciseList so that the table will have a new row -->
      <button class="btn-btn-warning" (click)="deleteExerciseInput(exDay)">Delete</button>

    </td>
    <td> <input type="text" [(ngModel)]="exercise.exerciseName" > </td>
    <td> <input type="number" pattern="\d*" [(ngModel)]="exercise.startingWeight" > </td>
    <td> <input type="number" pattern="\d*" [(ngModel)]="exercise.incWeightBy"> </td>
    <td> <input type="number" pattern="\d*" [(ngModel)]="exercise.minRep"> </td>
    <td> <input type="number" pattern="\d*" [(ngModel)]="exercise.maxRep" > </td>
  </tr>
  </tbody>
  <button (click)="addMoreExercises(exDay)" >Add More</button>
</table>
</div>


